<div class="bg-dark text-white">
  <div class="container pt-3 pb-5">
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb bg-dark">
        <li class="breadcrumb-item">
          <%= link_to "Home", root_path %>
        </li>
        <li class="breadcrumb-item active text-white" aria-current="page">
          My Account
        </li>
      </ol>
    </nav>
  </div>
</div>
<div class="container mt-n5 pb-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="d-flex align-items-center p-3">
          <%= image_tag @user.picture_url, class: "avatar-bordered avatar-xxl mr-3" %>
          <div>
            <p class="m-0"><strong><%= @user.nickname %></strong></p>
            <p class="m-0 text-secondary"><small><%= @user.email %></small></p>
          </div>
        </div>
        <div class="bg-light px-3 py-1">
          <span class="text-muted"><strong>Dashboard</strong></span>
        </div>
        <div>
          <%= link_to "#", class: 'p-3 border-bottom d-flex w-100 justify-content-between align-items-center' do %>
            <div>
              <i class="fas fa-grip-horizontal text-muted mr-2"></i> Published Items
            </div>
            <span class="text-muted small"><%= current_user.items.count %></span>
          <% end %>
          <%= link_to "#", class: 'p-3 border-bottom d-flex w-100 justify-content-between align-items-center' do %>
            <div>
              <i class="fas fa-heart text-muted mr-2"></i> Saved Items <small class="text-muted">Coming soon!</small>
            </div>
            <span class="text-muted small">10</span>
          <% end %>
          <%= link_to "#", class: 'p-3 d-block d-flex w-100 justify-content-between align-items-center' do %>
            <div>
              <i class="fas fa-archive text-muted mr-2"></i> Archived Items <small class="text-muted">Coming soon!</small>
            </div>
            <span class="text-muted small">10</span>
          <% end %>
        </div>
        <div class="bg-light px-3 py-1">
          <span class="text-muted"><strong>Account</strong></span>
        </div>
        <div>
          <%= link_to "#", class: 'p-3 border-bottom d-block' do %>
            <i class="fas fa-cogs text-muted mr-2"></i> Edit Profile
          <% end %>
          <%= link_to "#", class: 'p-3 border-bottom d-block' do %>
            <i class="fas fa-hand-peace text-muted mr-2"></i> Log out
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="text-white pt-2 d-none d-lg-block">
        <h5>Published Items</h5>
      </div>
      <div class="pt-2">
        <% if current_user.items.any? %>
          <% current_user.items.each do |item| %>
            <%= render 'items/list_item', item: item %>
          <% end %>
        <% else %>
          <p class="text-muted pt-3">No items yet, <%= link_to "add one here", new_item_path %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

