<div class="bg-dark text-white">
  <div class="container">
    <div class="d-flex justify-content-between align-items-start pt-3 pb-5">
      <nav aria-label="breadcrumb ">
        <ol class="breadcrumb bg-dark">
          <li class="breadcrumb-item">
            <%= link_to "Home", root_path %>
          </li>
          <li class="breadcrumb-item active text-white" aria-current="page">
            My Account
          </li>
        </ol>
      </nav>

      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-sm" %>

    </div>

  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="d-flex align-items-center p-3">
          <%= image_tag @user.picture_url, class: "avatar-bordered avatar-xxl mr-3" %>
          <div>
            <p class="m-0"><strong><%= @user.nickname %></strong></p>
            <p class="m-0 text-secondary"><small><%= @user.email %></small></p>
          </div>
        </div>
        <div class="bg-light px-3 py-1">
          <span class="text-muted">Dashboard</span>
        </div>
        <div class="p-3">
          <%= link_to "Hello", "#"  %>
        </div>
      </div>
    </div>
    <div class="col-8"></div>
  </div>
</div>

