<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "logo.svg", class: 'mr-2' %> <strong>Scubo.life</strong>
    <% end %>

    <div class="d-flex align-items-center">
      <% if user_signed_in? %>
        <%= link_to "Add Item", new_item_path, class: "btn btn-light btn-sm px-3" %>
        <div class="ml-3 dropdown">
          <%= image_tag current_user.picture_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">Menu</h6>
            <%= link_to "My Account", my_account_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <% if current_user.admin %>
              <h6 class="dropdown-header">Admin</h6>
              <%= link_to "Dashboard", rails_admin_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <%= link_to omniauth_authorize_path(:user, :github), class: "btn btn-primary" do %>
          Sign In <i class="fab fa-github ml-2"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
