<%= simple_form_for(item) do |f| %>

  <div data-controller='counter'>
    <%= f.input :name,
    label: false,
    placeholder: 'Name',
    input_html: { data: { target: 'counter.input', action: 'keyup->counter#updateCounter' } },
    hint: "<span data-target='counter.counter' data-max='#{Item::MAX_CHARS_NAME}''>#{Item::MAX_CHARS_NAME} characters left.</span>".html_safe %>
  </div>

  <div class="typeahead" data-controller='typeahead'>
    <%= f.simple_fields_for :hashtag do |h| %>
      <%= h.input :name,
      hint: "",
      label: false,
      hint: "Does it even count if you don't #hashtag it?",
      placeholder: "Hashtag",
      input_html: { value: item.hashtag&.name, data: { target: 'typeahead.input', action: 'keyup->typeahead#updateResults blur->typeahead#closeResults' } } %>
      <div class="typeahead-results w-100 card" data-target='typeahead.results'>
      </div>
    <% end %>
  </div>

  <div data-controller='counter'>
    <%= f.input :description,
    label: false,
    placeholder: 'Description',
    input_html: { data: { target: 'counter.input', action: 'keyup->counter#updateCounter' } },
    hint: "<span data-target='counter.counter' data-max='#{Item::MAX_CHARS_DESC}''>#{Item::MAX_CHARS_DESC} characters left.</span>".html_safe %>
  </div>

  <div data-controller='autocomplete'>
    <%= f.input :address,
    label: false,
    placeholder: "Address",
    hint: 'Where is it?',
    input_html: { data: { target: 'autocomplete.input' } } %>


    <%= f.simple_fields_for :city do |c| %>
      <%= c.input :name,
          input_html: { value: item.city&.name, readonly: :true, data: { target: 'autocomplete.city' } },
          label: false,
          placeholder: "City" %>
    <% end %>
  </div>

  <hr>

  <fieldset class="form-group radio_buttons required item_category">
    <input type="hidden" name="item[category_id]" value="">
    <div class="checkboxes" data-controller="checkboxes">
      <% @categories.each do |category| %>
        <input class="d-none" type="radio" value="<%= category.id %>" name="item[category_id]" id="item_category_id_<%= category.id %>">
        <label class="card p-3 m-0 text-center" for="item_category_id_<%= category.id %>" data-action="click->checkboxes#updateCheckbox" data-target="checkboxes.checkbox">
          <h2><%= category.emoji %></h2>
          <p class="m-0"><%= category.name %></p>
        </label>
      <% end %>
    </div>
    <% if item.errors[:category].any? %>
      <div class="small text-danger mt-2">Please select a category.</div>
    <% end %>

  </fieldset>

  <hr>

  <div data-controller='photo-preview'>
    <% if item.photo.attached? %>
      <% path = cl_image_path item.photo.key %>
    <% else %>
      <% path = "" %>
    <% end %>

    <%= image_tag path, width: 300, class: "#{'d-none' if path.blank?} rounded mb-3", data: { target: "photo-preview.image" } %>
    <%= f.input :photo, as: :file, input_html: { class: 'd-none', data: { action: 'change->photo-preview#displayPreview' } }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary mb-3" %>
<% end %>
