<%= simple_form_for(item) do |f| %>
  <div data-controller='counter'>
    <%= f.input :name,
    label: false,
    placeholder: 'Name',
    input_html: { data: { target: 'counter.input', action: 'keyup->counter#updateCounter' } },
    hint: "<span data-target='counter.counter' data-max='#{Item::MAX_CHARS_NAME}''>#{Item::MAX_CHARS_NAME} characters left.</span>".html_safe %>
  </div>
  <div data-controller='counter'>
    <%= f.input :description,
    label: false,
    placeholder: 'Description',
    input_html: { data: { target: 'counter.input', action: 'keyup->counter#updateCounter' } },
    hint: "<span data-target='counter.counter' data-max='#{Item::MAX_CHARS_DESC}''>#{Item::MAX_CHARS_DESC} characters left.</span>".html_safe %>
  </div>
  <%= f.association :category %>
  <%= f.association :hashtag %>
  <%= f.input :address, label: false, placeholder: "Address" %>
  <%= f.submit "Add Scubo", class: "btn btn-primary" %>
<% end %>
