<div class="card p-3">
  <%= cl_image_tag item.photo_key, class: "card-img img-fit", alt: item.name, height: 160, role: "button", data: { action: "click->modal#open", item: item.id } %>
  <div class="px-2 card-content">
    <%= image_tag item.user.picture_url, class: "avatar-bordered" %>
  </div>
  <div class="d-flex justify-content-between align-items-start">
    <div>
      <p class="m-0"><strong><%= item.name %></strong></p>
        <span class="pr-1"><%= item.category.emoji %></span>
        <span class="text-secondary small"><%= link_to item.hashtag.name, root_path(hashtag: item.hashtag) %></span>
    </div>
    <%= render 'items/upvote_action', item: item %>
  </div>
</div>
