<div class="card p-3" data-toggle="modal" data-target="#item<%= item.id %>">
  <%= cl_image_tag item.photo_key, class: "card-img", alt: item.name %>
  <div class="px-2 card-content">
    <%= image_tag item.user.picture_url, class: "avatar-bordered" %>
  </div>
  <p class="m-0"><strong><%= item.name %> <%= item.category.emoji %></strong></p>
  <span class="text-secondary small"><%= link_to item.hashtag.name, items_path(hashtag: item.hashtag) %></span>
</div>

<!-- Modal -->
<div class="modal fade" id="item<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="item<%= item.id %>Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="item<%= item.id %>Label"><%= item.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if policy(item).edit? %>
          <%= link_to "Edit", edit_item_path(item), class: 'small' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
